@font-face {
    font-family: "medium walsheim";
    src: local("medium walsheim"), url(../../shared/fonts/GTWalsheimPro-Medium.ttf);
}

.header{
    display: grid;
    height: 7vh;
    grid-template-columns: 4fr 1fr 4fr;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(228, 228, 231, 1);
    padding: 0px clamp(40px, 2vw, 50px);
    border-radius: 123px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10%;
    margin: 0 clamp(0px, 2vw, 40px);
    position: relative;
    z-index: 10; /* щоб був поверх фону */
}
.urls{
    display: flex;
    gap: clamp(10px, 2vw, 24px);
}

.url{
    display: flex;
    flex-wrap: nowrap;
    font-size: clamp(8px, 1.6vw, 14px);
    font-family: "medium walsheim", sans-serif;
    font-weight: 500;
    color: rgba(12, 18, 42, 1);
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: clamp(16px, 2vw, 24px);
}
.hatImageUrl{
    width: clamp(17px, 2vw, 31px);
}
.logo{
    width: clamp(115px, 2vw, 130px);
}
@media (max-width: 767px){
    .header{
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 0px clamp(20px, 2vw, 40px);
        column-gap: 5%;
    }
}

@media (max-width: 767px){
    .header {
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding: clamp(10px, 2vw, 20px);
    }
    main {
        margin-top: 10vh;
        gap: calc(10vw + 15vh);
    }
}