@font-face {
    font-family: "bold walsheim";
    src: local("bold walsheim"), url(../../shared/fonts/GTWalsheimPro-Bold.ttf);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(15vw + 20vh);
    height: fit-content;
    padding: 0px;
    height: 100%;
}
.footerBG{
    position: absolute;
    margin-top: clamp(-40px, 2vw, -100px);
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.ourAchivements{
    display: flex;
    padding: 0px clamp(20px, 2vw, 40px);
    gap: clamp(100px, 2vw, 180px);
}
.achivement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, 2vw, 48px);
}
.titleAchivement{
    font-family: "bold walsheim", sans-serif;
    font-size: clamp(30px, 2vw, 58px);
    font-weight: 900;
    color: rgba(12, 18, 42, 1);
}
.textAchivement{
    font-family: "regular walsheim", sans-serif;
    color: rgba(61, 65, 85, 1);
    font-size: clamp(10px, 1vw, 16px);
    text-align: center;
    font-weight: 400;
}
.urls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(20px, 2vw, 30px);
    /* margin-top:  clamp(25px, 2vw, 35px); */
    
    margin-top:  clamp(40px, 2.5vw, 65px);

    /* padding: clamp(10px, 1vw, 16px); */
}
.url{
    font-size: clamp(10px, 1vw, 16px);
    color: rgba(12, 18, 42, 1);
    font-family: "medium walsheim", sans-serif;
    font-weight: 500;
}
@media (max-width: 767px){
    .footer {
        padding: 40px 20px 30px;
        gap: 40px;
        text-align: center;
    }

    /* .footerBG {
        object-fit: cover;
    } */

    .ourAchivements{
        flex-direction: column;
        gap: 24px;
    }

    .achivement{
        gap: 6px;
    }

    .titleAchivement{
        font-size: 42px;        
        font-weight: 800;
    }

    .textAchivement{
        font-size: 14px; 
        opacity: 0.8;
    }
    
    .footerLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 210px;
    }

    .urls{
        /* position: absolute; */
        /* bottom: 30px; */
        display: flex;
        flex-direction: row;
        width: 60%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
        /* margin-top: 60px; */
    }

    .url{
        font-size: 16px;
        font-weight: 500;
    }
}
