@font-face {
    font-family: "bold walsheim";
    src: local("bold walsheim"), url(../../shared/fonts/GTWalsheimPro-Bold.ttf);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    margin-top: auto;
    /* margin-top: clamp(50px,2vw,100px); */
    gap: calc(15vw + 20vh);

    /* width: 100vw; */
    padding: 0px;
    
}
.footerBG{
    position: absolute;
    width: 100%;
    margin-top: clamp(-40px, 2vw, -100px);
    left: 0px;
    z-index: -1;
}
.ourAchivements{
    display: flex;
    padding: 0px clamp(20px, 2vw, 40px);
    gap: clamp(100px, 2vw, 180px);
}
.achivement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, 2vw, 48px);
}
.titleAchivement{
    font-family: "bold walsheim", sans-serif;
    font-size: clamp(30px, 2vw, 58px);
    font-weight: 900;
    color: rgba(12, 18, 42, 1);
}
.textAchivement{
    font-family: "regular walsheim", sans-serif;
    color: rgba(61, 65, 85, 1);
    font-size: clamp(10px, 1vw, 16px);
    text-align: center;
    font-weight: 400;
}
.urls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(20px, 2vw, 30px);

    /* padding: clamp(10px, 1vw, 16px); */
}
.url{
    font-size: clamp(10px, 1vw, 16px);
    color: rgba(12, 18, 42, 1);
    font-family: "medium walsheim", sans-serif;
    font-weight: 500;
}
@media (max-width: 767px){
    .ourAchivements{
        flex-direction: column;
        padding: 0px clamp(10px, 2vw, 20px);
        gap: clamp(10px, 2vw, 24px);
    }
   .footerBG{
        margin-top: clamp(200px, 2vw, 400px);
   }
}