.pageWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: clamp(100px, 2vw, 160px);
    margin-top: 90px;
    padding: clamp(20px, 3vw, 40px);
    max-width: 1440px;
    width: 1440px;
}

.title{
    font-family: "ultra bold walsheim", sans-serif;
    color: rgba(205, 213, 221, 1);
    text-align: center;
    font-size: clamp(40px, 2vw, 58px);
    font-weight: 900;
}
.container{
    display: flex;
    justify-content: space-between;
}
.contactsBlock, .formBlock{
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 2vw, 44px);
}
.contactsItems{
    display: flex;
    flex-direction: column;
    gap: clamp(18px, 2vw, 24px);
}
.contactItem{
    display: flex;
    gap: clamp(5px, 2vw, 10px);
}
.subtitle{
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 400;
    letter-spacing: 3%;
    color: rgba(12, 18, 42, 1);
}
.icon{
    width: 24px;
    height: 24px;
}
.contactText{
    font-size: clamp(16px, 2vw, 20px);
    color: rgba(109, 113, 127, 1);
    font-weight: 400;
}
.socialBlock{
    display: flex;
    flex-direction: column;
    gap: clamp(18px, 2vw, 24px);
}
.socialTitle{
    font-size: clamp(14px, 2vw, 20px);
    color: rgba(12, 18, 42, 1);
    font-weight: 400;
}
.socialIcons{
    display: flex;
    gap: clamp(30px, 4vw, 48px);
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 16px);
}
.label{
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 2vw, 8px);
    font-size: clamp(8px, 2vw, 14px);
    font-weight: 400;
    color: rgba(12, 18, 42, 1);
}
.input{
    width: 668px;
    height: 40px;
    border-radius: 4px;
    border: 1px rgba(206, 208, 212, 1) solid;
    padding: 0px clamp(10px, 2vw, 16px);
    font-size: clamp(10px, 2vw, 16px);
    color: rgba(158, 160, 170, 1);
    font-weight: 400;
}
.textarea{
    width: 668px;
    height: 100px;
    border-radius: 4px;
    border: 1px rgba(206, 208, 212, 1) solid;
    padding: clamp(6px, 2vw, 10px) clamp(10px, 2vw, 16px);
    font-size: clamp(10px, 2vw, 16px);
    color: rgba(158, 160, 170, 1);
    font-weight: 400;
}
.button{
    width: 170px;
    height: 52px;
    border-radius: 100px;
    background-color: rgba(12, 18, 42, 1);
    border: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: clamp(8px, 2vw, 14px);
    font-weight: 700;
    letter-spacing: 9%;

}