.ordersPage{
    display: flex;
    flex-direction: column;
    gap: clamp(18px, 2vw, 24px);
    width: 50%;
    align-items: flex-start;
}
.ordersTitle{
    font-size: clamp(18px, 2vw, 24px);
    color: rgba(12, 18, 42, 1);
    font-weight: 400;
}
.ordersContainer{
    display: flex;
    flex-direction: column;
    gap: clamp(22px, 2vw, 30px);
    border: 1px rgba(231, 231, 234, 1) solid;
    justify-content: center;
    padding: clamp(5px, 2vw, 10px);
}
.orderCard{
    width: 100%;
    justify-content: flex-end;
    gap: clamp(18px, 2vw, 24px);
}
.orderDescription, .orderMyInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(18px, 2vw, 24px);
}
.orderDescriptionTitle{
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 400;
    color: rgba(158, 160, 170, 1);
}
.orderDelivery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(5px, 2vw, 9px);
}
.orderDeliveryDescription{
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 400;
    color: rgba(12, 18, 42, 1);
    max-width: 274px;
    text-align: start;
}
.orderLine{
    height: 100%;
    background-color: rgba(206, 208, 212, 1);
    width: 1px;
}
.orderInfo{
    display: flex;
    gap: clamp(18px, 2vw, 24px);
}
.orderInfoProductCard{
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
}
.orderInfoProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(18px, 2vw, 24px);
}
.orderProductCardPartTitle{
    font-weight: 400;
    font-size: clamp(8px, 2vw, 12px);
    color: rgba(109, 113, 127, 1);
}
.orderProductCardPartDescription{
    font-weight: 400;
    font-size: clamp(8px, 2vw, 12px);
    color: rgba(12, 18, 42, 1);
}
.resultInfoOrder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(5px, 2vw, 5px);
}
.resultInfoContainer{
    display: flex;
    gap: clamp(5px, 2vw, 9px);
}
.resultInfoTitle{
    font-weight: 400;
    text-align: start;
    width: 100px;
    font-size: clamp(10px, 2vw, 14px);
    color: rgba(158, 160, 170, 1);
}
.resultInfoDescription{
    font-weight: 400;
    font-size: clamp(10px, 2vw, 14px);
    color: rgba(12, 18, 42, 1);
}
.cancelButton{
    background-color: white;
    border-radius: 100px;
    border: 1px rgba(12, 18, 42, 1) solid;
    font-size: clamp(10px, 2vw, 14px);
    color: rgba(12, 18, 42, 1);
    padding: clamp(8px, 2vw, 12.5px) clamp(10px, 2vw, 15px);
    cursor: pointer;
}
.cardIcon{
    width: 50px;
    height: 50px;
}
.cardMiniIcon{
    width: 24px;
    height: 24px;
}
.orderCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderProductCardPhoto{
    width: 50px;
    height: 50px;
}
.orderInfoHeader{
    display: flex;
    gap: 24px;
    align-items: center;
}