.orderCard {
    border: 1px solid #E5E5E5;
    background: #FFF;
    padding: 30px;
    margin-bottom: 25px;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 15px;
}

.orderId {
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
}

.orderStatus {
    color: #8E92A4;
    text-transform: uppercase;
    font-size: 14px;
}

.progressSection {
    margin: 40px 0;
}

.progressLine {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Сіра лінія на фоні */
.progressLine::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    z-index: 1;
}

.point {
    background: #FFF;
    padding: 0 10px;
    z-index: 2;
    font-size: 13px;
    color: #8E92A4;
}

.point.active {
    color: #0C122A;
    font-weight: 700;
}

.orderContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.deliveryInfo h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cancelBtn {
    background: none;
    border: 1px solid #0C122A;
    border-radius: 25px;
    padding: 10px 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.cancelBtn:hover {
    background: #0C122A;
    color: #FFF;
}