.productInCart {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 0;
    border-bottom: 2px solid rgba(206, 208, 212, 1);
}

.productImage {
    width: 100px;
    height: 90px;
    object-fit: contain;
    background: rgba(244, 244, 244, 1);
    border-radius: 8px;
    padding: 6px;
}

.infoAndPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    gap: 30px;
    flex: 1; 
}

.productName {
    font-size: 19px;
    font-weight: 600;
    color: rgba(12, 18, 42, 1);
    margin: 0;
}

.priceBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.oldPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: #6b7280;
}

.newPrice {
    font-size: 15px;
    font-weight: 600;
    color: rgba(182, 45, 17, 1);
}

.controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.countBtn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid rgba(231, 231, 234, 1);
    background: transparent;
    color: rgba(12, 18, 42, 1);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.countBtn:hover {
    background: rgba(12, 18, 42, 1);
    color: white;
}

.count {
    font-size: 15px;
    font-weight: 600;
    min-width: 20px;
    text-align: center;
}

.deleteBtn {
    /* width: 24px;
    height: 24px; */
    
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.2s;
}

.deleteBtn:hover {
    opacity: 1;
}