@font-face {
    font-family: "ultra bold walsheim";
    src: local("ultra bold walsheim"), url(../../shared/fonts/GTWalsheimPro-UltraBold.ttf);
}
.aboutUs{
    display: grid;
    justify-content: center;    
    gap: clamp(100px,2vw,160px);
    margin-top: 90px;
    padding: clamp(20px, 3vw, 40px) 0;
}
.titleBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(30px, 2vw, 70px);
}
.titleInfoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(14px, 2vw, 20px);
    width: 50%;
}
.titleArticle{
    font-family: "ultra bold walsheim", sans-serif;
    color: rgba(205, 213, 221, 1);
    text-align: center;
    font-size: clamp(40px, 2vw, 58px);
    font-weight: 900;
}
.titleText,.blockText{
    font-family: "regular walsheim", sans-serif;
    color: rgba(61, 65, 85, 1);
    font-size: clamp(10px, 1.5rem, 20px);
    text-align: center;
    font-weight: 400;
}
.titleImage{
    width: 70%;
}
.block{
    display: flex;
    gap: clamp(20px,2vw,28px);
    padding: clamp(20px, 2vw, 40px);
    align-items: center;
}
.infoBlock{
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 2vw, 60px);
}
.blockTitle{
    font-size: clamp(30px, 2vw, 58px);
    font-weight: 900;
    color: rgba(12, 18, 42, 1);
}
.blockText{
    text-align: start;
}
.blockImage{
    width: 50%;
}