@font-face {
    font-family: "bold walsheim";
    src: local("bold walsheim"), url(../../shared/fonts/GTWalsheimPro-Bold.ttf);
}

* {
    scrollbar-width: none;
}

.catalogTxt {
    font-family: "GT Walsheim Pro", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
    color: rgba(205, 213, 221, 1);
    margin: clamp(50px, 3vh, 70px) 0; 
}


.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(8px, 1vw, 12px);
    padding: 0 clamp(10px, 3vw, 40px);
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.categoryContainer button {
    width: 45px;
    height: 45px;
    padding: 0; 
    border-radius: 50%;
    border: 1px solid rgba(231, 231, 234, 1);
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.categoryContainer button img {
    max-width: 70%;   
    max-height: 70%;  
    object-fit: contain; 
    display: block;
}

.productCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(20px, 3vw, 40px) 0; 
    background-color: white;
}

.newProductsList {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: clamp(60px, 3vw, 100px);
    padding: 0 clamp(40px, 3vw, 160px); 
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    width: clamp(200px, 22vw, 280px);
    border-radius: 24px;
    padding: clamp(15px, 1.5vw, 20px);
    background: transparent; 
    margin-bottom: clamp(15px, 3vh, 25px);
}

.productImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.productTitle {
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 700;
    color: #000;
    margin-bottom: 6px;
    text-align: left; 
}

.productPrices {
    display: flex;
    flex-direction: column; 
    gap: 3px;
    align-items: flex-start; 
}

.productPrice,
.productPriceWithDiscount {
    font-size: 1rem;
    color: #333;
}

.productPriceWithoutDiscount {
    font-size: 0.9rem;
    color: #999;
    text-decoration: line-through;
}
.buttonToPage, .arrowPageButton{
    width: 40px;
    height: 40px;
    border-radius: 123px;
    font-size: 0.875rem;
    border: none;
    background-color: white;
}
.pagination{
    display: flex;
    align-items: center;
    gap: clamp(3px, 2vw, 6px);
}
.activePage{
    background-color: rgba(244, 244, 244, 1);
}
.arrowPage{
    width: 22px;
    height: 22px;
}
@media (max-width: 900px) {
    .newProductsList {
        justify-content: center;
    }

    .productCard {
        width: 80%;
    }

    .categoryContainer{
        justify-content: center;
    }
}
