@font-face {
    font-family: "bold walsheim";
    src: local("bold walsheim"), url(../../shared/fonts/GTWalsheimPro-Bold.ttf);
}

* {
    scrollbar-width: none;
}

.catalogTxt {
    font-family: "ultra bold walsheim", sans-serif;
    color: rgba(205, 213, 221, 1);
    text-align: center;
    font-size: clamp(40px, 2vw, 58px);
    font-weight: 900;
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(8px, 1vw, 12px);
    padding: 0 clamp(40px, 3vw, 160px);
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.categoryContainer button {
    width: 60px;
    height: 60px;
    padding: 0; 
    border-radius: 50%;
    font-size: clamp(15px, 2vw, 20px);
    border: 1px solid rgba(231, 231, 234, 1);
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.categoryContainer button img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

.productCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(20px, 3vw, 40px) 0; 
    background-color: white;
    /* margin-left: 50px; */
    margin-top: 90px;
}

.newProductsList {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: clamp(75px, 3vw, 250px);
    padding: 0px clamp(20px, 2vw, 40px);
}

/* .productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    width: 100%;
} */

.productCard {
    max-height: 120%;
}

.productsList {
    align-items: stretch;
}


.productImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.productTitle {
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 700;
    color: #000;
    margin-bottom: 6px;
    text-align: left; 
}

.productPrice,
.productPriceWithDiscount {
    font-size: 1rem;
    color: rgb(125, 53, 53);
}

.productPriceWithoutDiscount {
    font-size: 0.9rem;
    color: rgba(12, 18, 42, 1);;
    text-decoration: line-through;
}
.buttonToPage, .arrowPageButton{
    width: 40px;
    height: 40px;
    border-radius: 123px;
    font-size: 0.875rem;
    border: none;
    background-color: white;
}
.pagination{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: clamp(20px, 2vw, 40px);
    align-items: center;
    gap: clamp(3px, 2vw, 6px);
}
.activePage{
    background-color: rgba(244, 244, 244, 1);
}
.arrowPage{
    width: 22px;
    height: 22px;
}
.productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    width: 100%;
}

.productCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; 
    gap: clamp(10px, 1vw, 15px);

    width: 355px;
    min-height: 300px;

    padding: clamp(8px, 1vw, 14px);
    background-color: white;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.productCard::after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0);
    inset: 0;
    transition: 0.3s ease;
    border-radius: 1rem;

    pointer-events: none;
}

.productCard:hover {
    background: rgba(244, 244, 244, 0.8);
}

.productHoverBtn {
    position: absolute;
    bottom: 1.1rem;
    right: 1rem;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    border: 2px solid rgba(12, 18, 42, 1);
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    opacity: 0;
    /* transform: scale(0.7); */
    transition: all 0.3s ease;
}

.productCard:hover .productHoverBtn {
    opacity: 1;
    transform: scale(1);
}

.productCard {
    height: 100%;
    cursor: pointer;
}

.productsList {
    align-items: stretch;
}
@media (max-width: 900px) {
    .newProductsList {
        justify-content: center;
    }

    .productCard {
        width: 80%;
    }

    .categoryContainer{
        justify-content: center;
    }
}
.productPrices {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    text-align: left;
}