.updatePasswordModal{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 16px);
}
.updatePasswordContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.updatePasswordTitle{
    color: rgba(12, 18, 42, 1);
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 500;
    line-height: 28px;
}
.closeModalBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0C122A;
}
.passwordForm{
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 5vw, 44px);
}
.emailLabel{
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 2vw, 8px);
    font-size: clamp(8px, 2vw, 14px);
}
.modalPostCreate, .changePasswordForm{
    border-radius: 10px;
    padding: clamp(10px, 2vw, 16px) clamp(18px, 2vw, 24px);
}
.emailInput{
    min-width: 388px;
    height: 40px;
    border-radius: 4px;
    font-size: clamp(10px, 2vw, 16px);
    color: rgba(158, 160, 170, 1);
    font-weight: 400;
    padding: clamp(10px, 2vw, 16px);
    border: 1px rgba(206, 208, 212, 1) solid;
}
.buttons{
    display: flex;
    gap: clamp(6px, 2vw, 10px);
}
.modalButton{
    padding:  clamp(8px, 2vw, 12.5px) clamp(10px, 2vw, 16px);
    border-radius: 100px;
    font-size: clamp(8px, 2vw, 14px);
    line-height: 100%;
}
.white{
    background-color: white;
    border: 1px rgba(12, 18, 42, 1) solid;
    color: rgba(12, 18, 42, 1);
}
.black{
    background-color: rgba(12, 18, 42, 1);
    color: white;
    border: none;
}
.passwordSuccessText{
    font-size: clamp(8px, 2vw, 14px);
    font-weight: 400;
    color: rgba(158, 160, 170, 1);
    text-align: start;
}
.successPasswordForm{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 16px);
}
.modalPostCreate{
    min-width: 447px;
}
.successEmailText{
    color: #0C122A;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 500;
}
button{
    cursor: pointer;
}