.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9998;

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background: white;
	border-radius: 24px;
	padding: 24px;
	z-index: 9999;
}
