.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9998;

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background: white;
	border-radius: 24px;
	padding: 24px;
	z-index: 9999;
}

.dropdown {
    position: absolute;
	top: 0;
	right: 0;

	margin: 75px 165px 0 0;
	/* padding: 16px 24px; */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	width: auto;

	/* right: 6px; */
    /* margin-top: 8px; */
    /* width: 400px; */
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transform: none;
}